@import url('https://fonts.googleapis.com/css?family=Roboto'); //font-family: 'Roboto', sans-serif;

$darkBlue: #0088CC;
$lightBlue: #0AA1DA;
$darkGrey: #7f8c8d;
$lightGrey: #ecf0f1;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h3 {
  color: $lightBlue;
}

hr {
  border: none;
  height: 1px;
  background-color: lightgrey;
}

#header {
  width: 100%;
  height: 2em;
  background-color: $darkBlue;

  #nav {
    display: inline-block;
    list-style-type: none;
    margin-top: .3em;
    margin-left: 5%;

    li {
      display: inline-block;
      padding-right: 1em;
      text-transform: uppercase;
      color: white;
    }

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: black;
      }
    }

  }
}

#intro {
  width: 100%;
  height: 14em;
  background-color: $lightBlue;
  //border-bottom: 2px solid black;
  -webkit-box-shadow: 0 10px 20px -2px lightgray;
  //margin-bottom: 1em;

  h1 {
    margin-top: 0;
    margin-left: 8%;
    margin-bottom: .05em;
    padding-top: 2em;
    color: white;
    font-size: 2.5em;
    font-weight: 100;
    width: 50%;
  }

  h3 {
    margin-top: 0;
    margin-left: 8%;
    color: white;
    width: 50%;
  }

  #headshot {
    float: right;
    border-radius: 50%;
    margin-right: 9em;
    margin-top: 2.5em;
  }

}

#to {
  width: 33.5%;
  height: 64.3em;
  background-color: #F7F7F7;
  float: left;
  //border-right: 1px solid black;
  -webkit-box-shadow: 20px 0 5px -2px lightgray;
          box-shadow: 10px 0 5px -2px lightgray;

  span:nth-child(even) {
    float: right;
    font-weight: bold;
    margin-right: 5em;
  }

  h3 {
    margin-left: 5.5em;
    margin-top: 1.5em;
    clear: both;
  }

  p {
    margin-left: 6.5em;

  }

  hr {
    width: 65%;
    margin-left: 6.5em;
  }

  ul {
    margin-left: 14.5%;
    list-style-type: none;
  }

}

#letter {
  width: 60%;
  height: auto;
  background-color: white;
  float: right;
  padding-left: 5%;

  p {
    margin-left: 2em;
    margin-top: 2em;
    margin-right: 5em;
  }

  img {
    margin-top: 2em;
  }

  #name {
    margin-top: .5em;
    margin-bottom: 0;
    font-weight: bolder;
  }

  #title {
    margin-top: .2em;
  }

}


#social {
  width: 100%;
  height: 12em;
  background-color: $lightBlue;
  clear: both;
  overflow: hidden;

  i {
    color: white;
    line-height: inherit;
  }


  #social-icons {
    width: 100%;
    padding-top: 2em;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


    li {
      display: inline;
      margin-left: 7em;
      margin-right: 7em;
    }
  }

  #social-links {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0;

    li {
      display: inline;
      margin-left: 2.5em;
      margin-right: 2.5em;

      a {
        color: white;
        text-decoration: none;

      &:hover {
        color: black;
        }
      }

    }
  }

}


#footer {
  width: 100%;
  height: auto;
  background-color: $darkBlue;
  display: block;

  ul {
    display: inline-block;
    color: white;
    margin-left: 8%;
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: .5em;
    }
  }

  span {
    float: right;
    margin-right: 10em;
    padding-top: 1em;

    a {
    text-decoration: none;
    color: white;

      &:hover {
        color: black;
      }
    }

  }
}

.circle {
  width: 70px;
  height: 70px;
  background-color: $darkBlue;
  border-radius: 100%;
  line-height: 70px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;

}




//**********************************************************************************
/* Medium Devices, Desktops */

@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #header {
    background-color: red;
  }
}




// Custom, iPhone Retina */

  @media only screen and (max-width: 700px) {      //(min-width : 320px)
  #header {
    width: 100%;
    height: 8em;
    background-color: $darkBlue;

    #nav {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-top: 0;
      padding-left: 0;


      li {
        display: block;
        text-align: center;
        padding: .5em;
      }


    }
  }

  #intro {
    height: 20em;

    h1 {
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      text-align: center;
      padding-top: 0;
      font-size: 2.5em;

    }

    h3 {
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      color: white;
      width: 100%;
      text-align: center;
    }

    #headshot {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      float: none;
      padding: 1.5em;
    }

  }


  #to {
    width: 100%;
    height: auto;

    span:nth-child(even) {

    }

    h3 {
      margin-left: 1.5em;
      margin-top: 1.5em;
      clear: both;
    }

    p {
      margin-left: 4em;

    }

    hr {
      width: 100%;
      margin-left: 0;
      margin-bottom: 2em;
      margin-top: 2em;
    }

    ul {
      margin-left: 14.5%;
      list-style-type: none;
    }

  }

  #letter {
    width: 100%;
    height: auto;
    background-color: white;
    float: right;
    padding-left: 2%;

    p {
      margin-left: 10%;
      margin-right: 10%;
    }

    img {
      margin-top: .5em;
      margin-left: 5%;
    }

    #title {
      margin-bottom: 3em;
    }

  }


  #social {
    height: auto;
    clear: both;

    #social-icons {
      width: 100%;
      padding-left: 0;
      padding-top: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;


      li {
        display: block;
        margin: 2em;
      }
    }

    #social-links {
      li {
        display: none;
      }

    }

  }


  #footer {

    height: 9em;

    ul {
      display: inline-block;
      width: 100%;
      margin: 0;
      padding-top: 1.5em;

      li {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: .3em;
      }
    }

    span {
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;

    }
  }


}
