@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

h3 {
  color: #0AA1DA;
  margin-top: 2em; }

hr {
  border: none;
  height: 1px;
  background-color: lightgrey; }

circle {
  stroke: #0088CC; }

rect {
  fill: #0088CC;
  stroke: #0088CC; }

#header {
  width: 100%;
  height: 2em;
  background-color: #0088CC; }
  #header #nav {
    display: inline-block;
    list-style-type: none;
    margin-top: .3em;
    margin-left: 5%; }
    #header #nav li {
      display: inline-block;
      padding-right: 1em;
      text-transform: uppercase;
      color: white; }
    #header #nav a {
      text-decoration: none;
      color: white; }
      #header #nav a:hover {
        color: black; }

#intro {
  width: 100%;
  height: 14em;
  background-color: #0AA1DA;
  border-bottom: 2px solid black; }
  #intro h1 {
    margin-top: 0;
    margin-left: 8%;
    margin-bottom: .05em;
    padding-top: 2em;
    color: white;
    font-size: 2.5em;
    font-weight: 100;
    width: 50%; }
  #intro h3 {
    margin-top: 0;
    margin-left: 8%;
    color: white;
    width: 50%; }
  #intro #headshot {
    float: right;
    border-radius: 50%;
    margin-right: 9em;
    margin-top: 2.5em; }

#description {
  width: 100%;
  padding: 2em;
  background-color: #576268;
  border-bottom: 2px solid black;
  width: auto; }
  #description p {
    margin: 0;
    width: 80%;
    margin-left: 8%;
    color: white;
    line-height: 1.3; }

#info {
  width: 33.5%;
  height: 64.3em;
  background-color: #F7F7F7;
  float: left;
  -webkit-box-shadow: 20px 0 5px -2px lightgray;
  box-shadow: 10px 0 5px -2px lightgray; }
  #info span:nth-child(even) {
    float: right;
    font-weight: bold; }
  #info .left {
    font-weight: bolder;
    width: 40%;
    display: inline-block; }
  #info .right {
    width: 50%;
    display: inline-block; }
  #info h3 {
    margin-left: 5.5em;
    margin-top: 3em;
    clear: both; }
  #info #bars {
    margin-left: 0;
    margin-right: 1em;
    margin-bottom: 3em;
    width: 10em;
    float: right; }
  #info ul {
    margin-left: 14.5%;
    list-style-type: none; }
    #info ul p {
      text-align: center;
      font-weight: bold; }
  #info #software {
    float: left; }
  #info .hobbies {
    clear: both; }
    #info .hobbies li {
      display: inline-block;
      padding-right: 1em; }

#resume {
  width: 60%;
  height: auto;
  background-color: white;
  float: right;
  padding-left: 5%; }
  #resume ul {
    list-style-type: none;
    width: 80%; }
  #resume #work-h3 {
    margin-top: 3em; }
  #resume #work span {
    float: right;
    font-weight: bold; }
  #resume #education span {
    float: right;
    font-weight: bold; }
  #resume #skills li {
    display: inline; }

#social {
  width: 100%;
  height: 12em;
  background-color: #0AA1DA;
  clear: both;
  overflow: hidden; }
  #social i {
    color: white;
    line-height: inherit; }
  #social #social-icons {
    width: 100%;
    padding-top: 2em;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    #social #social-icons li {
      display: inline;
      margin-left: 7em;
      margin-right: 7em; }
  #social #social-links {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0; }
    #social #social-links li {
      display: inline;
      margin-left: 2.5em;
      margin-right: 2.5em; }
      #social #social-links li a {
        color: white;
        text-decoration: none; }
        #social #social-links li a:hover {
          color: black; }

#footer {
  width: 100%;
  height: auto;
  background-color: #0088CC;
  display: block; }
  #footer ul {
    display: inline-block;
    color: white;
    margin-left: 8%;
    padding-left: 0; }
    #footer ul li {
      display: inline-block;
      margin-right: .5em; }
  #footer span {
    float: right;
    margin-right: 10em;
    padding-top: 1em; }
    #footer span a {
      text-decoration: none;
      color: white; }
      #footer span a:hover {
        color: black; }

.circle {
  width: 70px;
  height: 70px;
  background-color: #0088CC;
  border-radius: 100%;
  line-height: 70px;
  text-align: center;
  vertical-align: middle;
  display: inline-block; }

.circle-hobbies {
  width: 80px;
  height: 80px;
  background-color: #0AA1DA;
  border-radius: 100%;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  display: inline-block; }
  .circle-hobbies i {
    line-height: inherit;
    color: white; }

.circle-container {
  margin: 7px;
  width: 120px;
  height: 120px;
  position: relative;
  display: inline-block; }

@media only screen and (max-width: 700px) {
  #header {
    width: 100%;
    height: 8em;
    background-color: #0088CC; }
    #header #nav {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-top: 0;
      padding-left: 0; }
      #header #nav li {
        display: block;
        text-align: center;
        padding: .5em; }

  #intro {
    height: 20em; }
    #intro h1 {
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      text-align: center;
      padding-top: 0;
      font-size: 2.5em; }
    #intro h3 {
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      color: white;
      width: 100%;
      text-align: center; }
    #intro #headshot {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      float: none;
      padding: 1.5em; }

  #description {
    padding: .5em;
    width: auto; }
    #description p {
      padding-top: 1em;
      padding-bottom: 1em; }

  #info .hobbies li {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .circle-hobbies {
    margin-left: auto;
    margin-right: auto;
    display: block; }

  #info {
    width: 100%;
    height: auto; }
    #info h3 {
      margin-left: 1.5em; }
    #info ul {
      margin-left: 0; }
      #info ul p {
        margin-bottom: 2em; }
    #info .left {
      width: 100%; }
    #info .right {
      width: 100%; }
    #info span:nth-child(2n) {
      margin-right: .5em; }
    #info #bars {
      padding-left: 0;
      width: 6em; }
    #info .hobbies li {
      padding-right: .5em; }

  #resume {
    width: 100%; }
    #resume ul {
      margin-bottom: 3em; }
    #resume h3 {
      margin-left: 1.5em;
      margin-top: 3em; }
    #resume .circle-container {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2em;
      margin-bottom: 2em; }

  #social {
    height: auto;
    clear: both; }
    #social #social-icons {
      width: 100%;
      padding-left: 0;
      padding-top: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      #social #social-icons li {
        display: block;
        margin: 2em; }
    #social #social-links li {
      display: none; }

  #footer {
    height: 9em; }
    #footer ul {
      display: inline-block;
      width: 100%;
      margin: 0;
      padding-top: 1.5em; }
      #footer ul li {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: .3em; }
    #footer span {
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center; } }

/*# sourceMappingURL=styles.css.map */
