@import url('https://fonts.googleapis.com/css?family=Roboto'); //font-family: 'Roboto', sans-serif;

$darkBlue: #2980b9;
$lightBlue: #3498db;
$darkGrey: #7f8c8d;
$lightGrey: #ecf0f1;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h3 {
  color: $lightBlue;
}

#header {
  width: 100%;
  height: 2em;
  background-color: $darkBlue;

  #nav {
    display: inline-block;
    list-style-type: none;
    margin-top: .3em;
    margin-left: 5%;

    li {
      display: inline-block;
      padding-right: 1em;
      text-transform: uppercase;
      color: white;
    }

  }
}

#intro {
  width: 100%;
  height: 12em;
  background-color: $lightBlue;

  h1 {
    margin-top: 0;
    margin-left: 5%;
    padding-top: 2em;
    color: white;
  }

  h3 {
    margin-top: 0;
    margin-left: 5%;
    color: white;
  }

}

#description {
  width: 100%;
  height: 9em;
  background-color: $darkGrey;

  p {
    margin: 0;
    width: 80%;
    margin-left: 10%;
    color: white;
    padding-top: 2em;
    line-height: 1.3;
  }
}

#info {
  width: 33.5%;
  height: 55em;
  background-color: white;
  float: left;
  border-right: 1px solid black;

  h3 {
    margin-left: 20%;
  }

  ul {
    margin-left: 11%;
    list-style-type: none;
  }

  #hobbies {
    li {
      display: inline-block;
      padding-right: 3em;
    }
  }
}

#resume {
  width: 64%;
  height: 55em;
  background-color: white;
  float: right;
  padding-left: 2%;
}

#social {
  width: 100%;
  height: 12em;
  background-color: $lightBlue;
  clear: both;

  p {
    width: 30%;
    text-align: center;
  }

  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    padding-right: 5em;
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

#footer {
  width: 100%;
  height: auto;
  background-color: $darkBlue;
  display: block;

  ul {
    display: inline-block;
    color: white;
    margin-left: 5%;

    li {
      display: inline-block;
      margin-right: .5em;
    }
  }
}
